.setting {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.setting-content {
    background-color: #1e1e1e;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #424242;
    width: 80%; /* Could be more or less, depending on screen size */
}

td.delete {
    background-color: black;
    text-align: center;
}

td.delete:hover {
    background-color: red;
}

.rest {
    background-color: rgb(0, 88, 16);
}